
.header{
	width: 160px;
	height: 100%;

}
.hjpg1{
	margin:0 auto;
	float: left;


}
.hjpg2{
	float: left;
}
.hjpg3{
	float: left;

}
.hjpg4{
	float: left;

}
.hjpg5{
	float: left;

}
.hjpg6{
	float: left;

}
.hjpg7{

	float: right;
}
.hjpg8{
	float: left;

}
.hjpg9{
	float: left;
}

.header2{
	

}
.hjpg14{
float: left;
}
.hjpg15{
	float: left;
}
.hjpg16{
	float: left;
}
